asgiref==3.11.1
Django==4.2.30
Faker==37.12.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
# django-contrib-sites==4.2.30
# The account and social-provider apps are included in django-allauth.
django-allauth==0.58.2
django-widget-tweaks==1.5.1